@font-face {
    font-family: nova;
    src: url(./Red/media/NovaSquare-Regular.ttf);
}
.fontnova{
    font-family: nova;
    
}

.colorDarkRed{
    color: darkred;
}


@font-face {
    font-family: raj;
    src: url(./Red/media/Rajdhani.ttf);
}
.fontraj{
    font-family: raj;
}
.img_size{
    width: 10rem;
    object-fit: cover;
}

.bg_header{

   background:url(./Red/media/mountains.png), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 80%), url(./Red/media/switzerland-862870_1920.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 70vh;
   /* height: 100vh;  */

}


.img_header{

    width: 90%;
    height: 700px;
    /* object-fit: cover; */
    

}


.paragrafo{
    max-width: 40%;
}


.cerchietto{
    display: flex;
    flex-direction: row;
  }
.cerchietto:before, .cerchietto:after{
    content:"" ;
    flex: 1 1;
    border-bottom: 3px solid;
    margin: auto;
  }
.cerchietto:before {
    margin-right: 0px
  }
.cerchietto:after {
    margin-left: 0px
  }


.cardsize{
    height:20vh;
    width:15vw;
  }

